layout: index
description: Neotech is creative, interesting & different IT development agency
subtitle: A creative, interesting & <i>different</i> <br>
IT development agency
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Quality Introductions 
      p.intro-feature-desc One connection can be all the difference that's needed to set your project off on the right foot. Neotech have a library of initial concepts and business contacts.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Business Proposals
      p.intro-feature-desc Scoping out the project objectives and development requirements accurately from the start will reduce costs. Neotech have a past reference points to help explore both the possible, and the feasible, before you begin. 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Continuous Deployment
      p.intro-feature-desc You have transparent access to the code and can be automatically notified with the daily progress. Neotech strive to minimise the Bus Factor using open communication, "Wikipedia it" (!)
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Customised Working
      p.intro-feature-desc Requirements, Deliverables, Budgets, Deadlines. - Each one can be adjusted to your needs within just a week's notice, assuming Neotech and your organisation match expectations.